<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1, user-scalable=1">
        <title>{{ title }}</title>
        <meta name="language" content="en">
        <meta name="description" content="Evgeni Veskov - UX/UI/Web Desinger">
        <meta name="keywords" content="UX, UX Design, UX Designer, User Experience Design, User Experience Designer, UI, User Interface Design, Web, Design, Web Design, Web Designer, mobile apps design, usability, user-centered design, human-centered design, Graphic Design, HTML, CSS, SASS, Sofia, Bulgaria, UX дизайн, UX дизайнер, дизайнер, графичен дизайнер, София, България, Шумен, Shumen">
        <meta content="Web presence of Evgeni Veskov - UX/UI/Web Designer" name="description">
        <link rel="stylesheet" href="{{ '/assets/css/styles.css' | url }}">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

        <meta property="og:title" content="Evgeni Veskov - UX/UI/Web Desinger">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://www.eveskov.com">
        <meta property="og:description" content="Web and Graphic Design">
        <meta property="og:site_name" content="Evgeni Veskov - UX/UI/Web Desinger">
        <meta property="og:image" content="https://www.eveskov.com/assets/img/fb-og-1200x630.jpg">
        <meta property="og:locale" content="en_GB">

        <meta name="twitter:url" content="https://www.eveskov.com">
        <meta name="twitter:title" property="og:title" content="Evgeni Veskov - UX/UI/Web Desinger">
        <meta name="twitter:image" content="https://www.eveskov.com/assets/img/twitter-card-880x462.jpg">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@eveskov">

        <!-- New code -->
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-RV8K7CWHF8"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());

            gtag('config', 'G-RV8K7CWHF8');
        </script>

        <!-- Old code -->
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-73208463-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());

            gtag('config', 'UA-73208463-1');
        </script>

        <!--Google Analytics-->
        {# <script>
            (function (i, s, o, g, r, a, m) {
                i.GoogleAnalyticsObject = r;
                (i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments);
                }),
                (i[r].l = 1 * new Date());
                (a = s.createElement(o)),
                (m = s.getElementsByTagName(o)[0]);
                a.async = 1;
                a.src = g;
                m
                    .parentNode
                    .insertBefore(a, m);
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-73208463-1', 'auto');
            ga('send', 'pageview');
        </script> #}
    </head>
    <body>